* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

%h1 { font-size: 2rem };
%h2 { font-size: 1.8rem };
%h3 { font-size: 1.5rem };

h1 { @extend %h1; };
h2 { @extend %h2; };
h3 { @extend %h3; };

.c_app {
  height: 100vh;
}

.c_category-list {
  &__header {
    @extend %h2;
  }
}