* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

%h1 { font-size: 2rem };
%h2 { font-size: 1.8rem };
%h3 { font-size: 1.5rem };

$color-text: #222;

h1 { @extend %h1; };
h2 { @extend %h2; };
h3 { @extend %h3; };

.action, input, select, textarea {
  color: inherit;
  font: inherit;
}

.action {
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-decoration: none;
}

.c_app {
  display: flex;
  flex-direction: column;

  /** Fallback for browsers without css variables */
  height: 100vh;
  max-height: 100vh;

  /**
   * Deal with mobile browser status bars.
   * Requires a css variable named --vh provided
   * by useViewportHeight() hook.
   */
  height: calc(var(--vh, 100vh));
  max-height: calc(var(--vh, 100vh));

  padding: 10px;
}

.c_category-detail,
.c_category-list,
.c_category-list-edit,
.c_entry-detail,
.c_entry-list {
  &__header {
    @extend %h2;
  }
}

.c_entry-detail {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  > :not(:first-child) {
    margin: 10px 0;
  }
  &__date {
    display: block;
  }
  &__content {
    flex-grow: 1;
  }
  &__category-list {
    display: grid;
    grid-auto-columns: max-content;
    grid-gap: 10px;
    label {
      grid-column: 1;
    }
    .c_dropdown {
      grid-column: 2;
    }
  }
  &__actions {
    :first-child {
      margin-right: 10px;
    }
  }
}

.c_entry-list {
  &__entry {
    margin: 10px 0;
    .route-link {
      color: $color-text;
      text-decoration: none;
    }
  }
  &__entry-date {
    @extend %h2;
  }
}

.c_nav {
  display: flex;
  flex-direction: row;
  &__link {
    padding: 2px 4px;
  }
}

.c_tag-list-editor {
  display: flex;
  flex-direction: column;
  &__tag-list {
    display: flex;
    flex-direction: row;
  }
  .c_tag-list-editor__tag {
    border: 1px solid #ccc;
    line-height: 1em;
    margin-right: 8px;
    padding: 2px 4px;
  }
}